body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
}

.header {
width: 100%;
overflow: show;
}

.header-img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    border-radius: 0px;
}


main {
    padding: 60px;
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.form-group label {
   width: 150px;
   font-size: 16px;
}

.form-group input {
   flex: 1;
   padding: 6px;
}

label, input, select {
    font-size: 30px;
    margin: 10px 0;
}

.image-box {
    margin: 20px;
}

img {
    width: 300px;
    height: auto;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

button {
    padding: 10px 20px;
    background-color: rgb(7, 109, 33);
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.container {
  width: 100%;
  padding: 2vw;
}
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    font-size: 14px;
  }
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer {
    background-color: rgb(223, 243, 170);
    color: rgb(0, 0, 0);
    padding: 1px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 20px;

}

